.container{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 3%;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.container>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.SecondContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
}
.KeyFeatures{
    line-height: 120%;
    text-align: left;
    margin-left: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2%;
    padding: 3%;

}
.imgOFProd{
    width: 100%;
}
.AddToCart{
    text-align: left;
    padding: 2%;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.AddToCart >div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 
.container h2{
    color: red;
}
.AddToCart >p {
    margin-left: 10%;
    font-size: large;
    font-weight: bold;
    color: blue;
}
.btn{
    padding: 4%;
    background-color: red;
    font-size: large;
    color: aliceblue;
}
.btn:hover{
    background-color: rgb(133, 93, 93);
}

@media screen and (max-width: 992px) {
    .SecondContainer{
        display: flex;
        flex-direction: column;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {

}